@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d1117;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.headers {
  display: flex;
  flex-direction: column;
}

.header1 {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #1b1f24;
  align-items: center;
  justify-content: space-between;
}

.header1__items {
  display: flex;
  min-width: 60%;
  align-items: center;
}

.header1__items .fa-github {
  font-size: 30px;
  margin-left: 30px;
}

.search__bar {
  min-width: 250px;
  height: 30px;
  background-color: #0d1117;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px dotted rgba(245, 245, 245, 0.205);
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 20px;
  z-index: 1;
  position: relative;
}

.search__bar input {
  outline: none;
  border: none;
  background-color: #0d1117;
  color: #fff;
  width: 250px;
  height: 22px;
  transition: ease-in;
  z-index: 1;
  position: relative;
}

.search__bar input:focus {
  position: absolute;
  z-index: 2;
  width: 270px;
  height: 30px;
  float: left;
  left: 0px;
  border: 1px solid rgb(34, 34, 116);
  border-bottom: none;
  border-radius: 5px;
  padding-left: 10px;
}

.search__bar .search__expand {
  width: 24px;
  height: 22px;
  border-radius: 5px;
  border: 1px solid rgba(245, 245, 245, 0.205);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.header1__items ul {
  display: flex;
}

.header1__items ul li {
  list-style: none;
  font-size: 14px;
  padding: 0 10px;
}

.header1__icons {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-bell,
.add__icon,
.avatar__icon {
  margin-left: 15px;
}

.fa-bell {
  font-size: 18px;
}

.fa-sort-down {
  font-size: 12px;
}

.add__icon p {
  font-size: 20px;
  font-weight: 400;
  margin-right: 10px;
}

.avatar__icon,
.add__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar__icon .avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightgray;
  margin-right: 5px;
}

.header2 {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  height: 70px;
  padding-left: 30px;
  background-color: #0d1117;
  z-index: 99;
  border-bottom: 1px dotted rgba(245, 245, 245, 0.205);
}

.header2__description {
  width: 25%;
  display: flex;
  opacity: 0;
  align-items: center;
}

.header2__description.show {
  opacity: 1;
}

.header2__description .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: lightgray;
  margin-right: 5px;
}

.header2__description p {
  font-size: 12px;
}

.header2__info {
  display: flex;
  /* width: 60%; */
  margin-right: 20px;
  color: rgb(196, 192, 192);
  cursor: pointer;
  padding-top: 30px;
  /* height: 70px; */
}

.header2__info:focus,
.header2__info:hover {
  color: #fff;
}

.header2__info:focus {
  border-bottom: 2px solid red;
}

.header2__info:hover {
  border-bottom: 2px solid rgb(196, 192, 192);
}

.header2__info .bx-book-open {
  font-size: 18px;
  font-weight: 400;
}

.header2__info p {
  padding-left: 5px;
  font-size: 14px;
  font-weight: 300;
}

.header2__info .count {
  width: 22px;
  height: 20px;
  padding: 10px 15px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  background-color: rgb(177, 165, 165, 0.5);
  margin-left: 5px;
}

.main__container {
  display: flex;
  width: 100%;
  color: whitesmoke;
}

.main__container .sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-left: 30px;
}

.main__container .avatar__container {
  position: relative;
  z-index: 999;
  width: 80%;
  background-color: none;
  /* height: 200px; */
}

.avatar__container .avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: none;
  margin-right: 5px;
  position: relative;
  top: -20px;
}

.avatar__container .smiley {
  position: absolute;
  top: 65%;
  left: 78%;
  font-size: 14px;
  background-color: #0d1117;
  border: 1px dotted rgba(245, 245, 245, 0.205);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar__info {
  display: flex;
  flex-direction: column;
}

.sidebar__info .name {
  font-size: 25px;
  padding-top: 15px;
}

.sidebar__info .username {
  font-size: 16px;
  font-weight: 200;
  padding-bottom: 20px;
  color: lightgray;
}

.sidebar__info .description {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.sidebar__info .profile__box {
  margin: 20px 0px;
  width: 100%;
  height: 32px;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b1f24;
  border: 1px dotted rgba(245, 245, 245, 0.205);
}

.sidebar__info .profile__icons {
  display: flex;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 20px;
}

.sidebar__info .profile__icons .bx-star {
  padding-left: 5px;
}

.sidebar__info .profile__contact {
  display: flex;
  margin-top: 10px;
}

.sidebar__info .profile__contact p {
  font-size: 14px;
}

.sidebar__info .profile__contact .bx {
  font-size: 18px;
}

.sidebar__info .profile__icons p,
.sidebar__info .profile__contact p {
  padding-left: 10px;
}

.repo__feed {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  margin-right: 25px;
  padding-left: 30px;
}

.repo__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px dotted rgba(245, 245, 245, 0.205);
  padding: 15px 0;
}

.repo__search input {
  outline: none;
  border: 1px dotted rgba(245, 245, 245, 0.205);
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #0d1117;
  color: #fff;
  width: 55%;
  height: 35px;
  margin-right: 10px;
}

.repo__search input:focus {
  border: 1px solid rgba(34, 34, 116);
}

.repo__search .new__repo,
.repo__search .search__option,
.repo__box .repo__title .search__option {
  display: flex;
  padding: 7px 20px;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted rgba(245, 245, 245, 0.205);
  margin-right: 5px;
}

.repo__search .search__option {
  background-color: #1b1f24;
}

.repo__search .search__option p {
  padding-right: 5px;
}

.repo__search .new__repo {
  background-color: rgb(64, 153, 64);
}

.repo__search .new__repo p {
  padding-left: 5px;
}

.repo__list,
.repo__box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.repo__box {
  padding: 30px 0px;
  border-bottom: 1px dotted rgba(245, 245, 245, 0.205);
}

.repo__box .repo__title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* align-items: center; */
}

.repo__box .repo__title .repo__name {
  color: rgb(82, 82, 252);
  font-size: 16px;
  font-weight: 600;
}

.repo__box .repo__title .search__option {
  background-color: #1b1f24;
}

.repo__info p {
  font-size: 12px;
  font-weight: 300;
  color: lightgray;
}

.repo__info i {
  font-size: 14px;
  font-weight: 300;
  padding-right: 3px;
}

.repo__info,
.repo__languageBox,
.repo__rating {
  display: flex;
}

.repo__update,
.repo__languageBox,
.repo__rating {
  margin-right: 20px;
}

.repo__languageBox {
  display: flex;
  margin-right: 10px;
}

.repo__languageIcon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  margin-right: 3px;
  background-color: lightgray;
}

.repo__language {
  font-size: 12px;
  font-weight: 200;
}

#avatar__img1,
#avatar__img2,
#avatar__img3 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}
