@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d1117;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.login__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login__container form input {
  outline: none;
  border: 1px dotted rgba(245, 245, 245, 0.205);
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #0d1117;
  color: #fff;
  width: 250px;
  height: 40px;
  margin-bottom: 10px;
}

.login__container form input:focus {
  border: 1px solid rgba(34, 34, 116);
}

.login__container form button {
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(64, 153, 64);
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.headers {
  display: flex;
  flex-direction: column;
}

.header__mobile {
  display: none;
  flex-direction: column;
}

.header1 {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #1b1f24;
  align-items: center;
  justify-content: space-between;
}

.header1__items {
  display: flex;
  min-width: 60%;
  align-items: center;
}

.header__optionScreen {
  display: block;
}

.header__optionMedia {
  display: none;
}

.header1__items .fa-github {
  font-size: 30px;
  margin-left: 30px;
  cursor: pointer;
}

.search__barMobile,
.search__bar {
  height: 30px;
  background-color: #0d1117;
  align-items: center;
  justify-content: space-between;
  border: 1px dotted rgba(245, 245, 245, 0.205);
  border-radius: 5px;
  z-index: 1;
  position: relative;
}

.search__bar {
  display: flex;
  min-width: 250px;
  margin: 0 20px;
  padding: 5px 10px;
}

.search__barMobile {
  display: none;
  width: 100%;
  margin: 20px 30px;
  margin-bottom: 0px;
  padding: 5px 1px;
}

.search__barMobile input,
.search__bar input {
  outline: none;
  border: none;
  background-color: #0d1117;
  color: #fff;
  height: 22px;
  transition: ease-in;
  z-index: 1;
  position: relative;
  width: 95%;
}

.search__barMobile input {
  padding-left: 5px;
}

.search__barMobile .fa-grin {
  font-size: 12px;
  font-weight: 200;
  color: gray;
}

.search__bar input {
  width: 250px;
}

.search__barMobile input {
  width: 100%;
}

.search__bar input:focus {
  position: absolute;
  z-index: 2;
  width: 270px;
  height: 30px;
  float: left;
  left: 0px;
  border: 1px solid rgb(34, 34, 116);
  border-bottom: none;
  border-radius: 5px;
  padding-left: 10px;
}

.search__barMobile .smiley,
.search__bar .search__expand {
  width: 24px;
  height: 22px;
  border-radius: 5px;
  border: 1px solid rgba(245, 245, 245, 0.205);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.header1__items ul {
  display: flex;
}

.header1__items ul li {
  list-style: none;
  font-size: 14px;
  padding: 0 10px;
  cursor: pointer;
}

.header1__icons {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-bell,
.add__icon,
.avatar__icon {
  margin-left: 15px;
  cursor: pointer;
}

.header1__items ul li:hover,
.fa-bell:hover,
.add__icon:hover,
.avatar__icon:hover {
  color: gray;
}

.fa-bell {
  font-size: 18px;
}

.fa-sort-down {
  font-size: 12px;
}

.add__icon p {
  font-size: 20px;
  font-weight: 400;
  margin-right: 10px;
}

.avatar__icon,
.add__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar__icon .avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightgray;
  margin-right: 5px;
}

.header__mobile .profile__infoMobile,
.header__mobile .description,
.header__mobile .profile__contact {
  margin: 10px 30px;
  margin-bottom: 0px;
}

.header2,
.header__mobile2 {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #0d1117;
  z-index: 99;
  border-bottom: 1px dotted rgba(245, 245, 245, 0.205);
}

.header2 {
  display: flex;
  /* position: sticky; */
  height: 70px;
  padding-left: 30px;
}

.header__mobile2 {
  display: none;
  height: 50px;
  padding-left: 20px;
  background-color: rgba(214, 209, 209, 0.1);
}

.header2__description {
  width: 25%;
  display: flex;
  opacity: 0;
  align-items: center;
}

.header2__description.show {
  opacity: 1;
}

.header2__description .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: lightgray;
  margin-right: 5px;
}

.header2__description p {
  font-size: 12px;
}

.header2__info,
.info__selected,
.header__mobile2Info {
  color: rgb(196, 192, 192);
  cursor: pointer;
  justify-content: center;
}

.header2__info {
  display: flex;
  padding: 30px 20px;
  padding-bottom: 0px;
}

.header__mobile2Info {
  display: none;
  padding: 20px;
  padding-bottom: 0px;
}

.info__selected {
  color: #fff;
  border-bottom: 2px solid rgb(194, 102, 49);
}

.header2__info:focus,
.header2__info:hover {
  color: #fff;
}

.header2__info:hover {
  border-bottom: 2px solid rgb(196, 192, 192);
}

.header2__info .bx-book-open {
  font-size: 18px;
  font-weight: 400;
}

.header2__info p {
  padding-left: 5px;
  font-weight: 300;
}

.header2__info p {
  font-size: 14px;
}

.header__mobile2Info p {
  font-size: 12px;
}

.header__mobile2Info .count,
.header2__info .count {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(177, 165, 165, 0.5);
  margin-left: 5px;
}

.header2__info .count {
  width: 22px;
  height: 20px;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 9px;
}

.header__mobile2Info .count {
  width: 20px;
  height: 16px;
  padding: 7px 12px;
  font-size: 10px;
  border-radius: 7px;
}

/* Main section styling */
.main__container {
  display: flex;
  width: 100%;
  color: whitesmoke;
}

.main__container .sidebar {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding-left: 30px;
}

.main__container .avatar__container {
  position: relative;
  z-index: 999;
  width: 80%;
  background-color: none;
  /* height: 200px; */
}

.avatar__container .avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: none;
  margin-right: 5px;
  position: relative;
  top: -20px;
}

.avatar__container .smiley {
  position: absolute;
  top: 65%;
  left: 78%;
  font-size: 14px;
  background-color: #0d1117;
  border: 1px dotted rgba(245, 245, 245, 0.205);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar__info {
  display: flex;
  flex-direction: column;
}

.sidebar__info .name {
  font-size: 25px;
  padding-top: 15px;
}

.sidebar__info .username {
  font-size: 16px;
  font-weight: 200;
  padding-bottom: 20px;
  color: lightgray;
}

.sidebar__info .description {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.header__mobile .profile__box,
.sidebar__info .profile__box {
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: #1b1f24;
  border: 1px dotted rgba(245, 245, 245, 0.205);
}

.sidebar__info .profile__box {
  display: flex;
}

.header__mobile .profile__box {
  display: none;
  margin-right: 0px 30px;
}

.sidebar__info .profile__box {
  margin: 20px 0px;
  width: 100%;
  height: 32px;
  font-size: 14px;
}

.sidebar__info .profile__icons {
  display: flex;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 20px;
}

.sidebar__info .profile__icons .bx-star {
  padding-left: 5px;
}

.sidebar__info .profile__contact {
  display: flex;
  margin-top: 10px;
}

.sidebar__info .profile__contact p {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar__info .profile__contact .bx {
  font-size: 18px;
}

.sidebar__info .profile__icons p,
.sidebar__info .profile__contact p {
  padding-left: 10px;
}

.repo__feed {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  margin-right: 25px;
  padding-left: 30px;
}

.repo__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px dotted rgba(245, 245, 245, 0.205);
  padding: 15px 0;
}

.repo__searchOptions,
.search__options {
  display: flex;
  justify-content: space-between;
}
.repo__searchOptions {
  width: 85%;
}
.search__options {
  width: 40%;
}

.repo__search input,
.repo__searchMobile input {
  outline: none;
  border: 1px dotted rgba(245, 245, 245, 0.205);
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #0d1117;
  color: #fff;
  width: 60%;
  height: 35px;
  margin-right: 10px;
}

.repo__searchMobile input:focus,
.repo__search input:focus {
  border: 1px solid rgba(34, 34, 116);
}

.repo__search .new__repo,
.repo__searchMobile .new__repoMobile,
.repo__search .search__option,
.repo__searchMobile .search__option,
.repo__box .repo__title .search__option {
  display: flex;
  padding: 7px 20px;
  font-size: 14px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted rgba(245, 245, 245, 0.205);
  margin-right: 5px;
  cursor: pointer;
}

.repo__searchMobile .search__option,
.repo__search .search__option {
  background-color: #1b1f24;
}

.repo__searchMobile .search__option:hover,
.repo__search .search__option:hover {
  background-color: #2c323a;
  border: 1px solid white;
}

.repo__searchMobile .search__option p,
.repo__search .search__option p {
  padding-right: 5px;
}

.repo__searchMobile .new__repoMobile,
.repo__search .new__repo {
  background-color: rgb(64, 153, 64);
  width: 10%;
}

.repo__searchMobile .new__repoMobile:hover,
.repo__search .new__repo:hover {
  background-color: rgb(85, 190, 85);
}

.repo__searchMobile .new__repoMobile p,
.repo__search .new__repo p {
  padding-left: 5px;
}

.repo__list,
.repo__box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.repo__box {
  padding: 30px 0px;
  border-bottom: 1px dotted rgba(245, 245, 245, 0.205);
}

.repo__box .repo__title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /* align-items: center; */
}

.repo__box .repo__title .repo__name {
  color: #348ce7;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.repo__box .repo__title .repo__name:hover {
  text-decoration: underline;
}

.repo__box .repo__title .search__option {
  background-color: #1b1f24;
}

.repo__info p {
  font-size: 11px;
  font-weight: 300;
  color: lightgray;
}

.repo__info i {
  font-size: 14px;
  font-weight: 300;
  padding-right: 3px;
}

.repo__info,
.repo__languageBox,
.repo__rating {
  display: flex;
}

.repo__update,
.repo__languageBox,
.repo__rating {
  margin-right: 20px;
}

.repo__languageBox {
  display: flex;
  margin-right: 10px;
}

.repo__languageIcon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  margin-right: 3px;
  background-color: lightgray;
}

.repo__language {
  font-size: 12px;
  font-weight: 200;
}

#avatar__img1,
#avatar__img2,
#avatar__img3,
#avatar__imgM {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: contain;
}

/* Media queries */
@media screen and (max-width: 1000px) {
  .header__optionScreen {
    display: none;
  }

  .header__optionMedia {
    display: block;
  }

  .repo__searchOptions {
    flex-direction: column;
    width: 75%;
  }

  .repo__search .new__repo {
    background-color: rgb(64, 153, 64);
    width: 20%;
  }

  .repo__search input {
    width: 100%;
  }

  .repo__search {
    align-items: flex-start;
  }
}

@media screen and (max-width: 770px) {
  .header1,
  .header2 {
    display: none;
  }

  .header__mobile .header__mobile2 {
    display: flex;
    overflow-y: scroll;
  }

  .repo__search,
  .main__container .sidebar {
    display: none;
  }
  .repo__feed {
    width: 100%;
  }

  .header__mobile .repo__searchMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
  }

  .header__mobile .repo__searchMobile .new__repoMobile,
  .header__mobile .repo__searchMobile .repo__searchOptionsMobile {
    width: 100%;
    margin: 5px 0px;
  }
  .header__mobile .repo__searchMobile input {
    margin: 5px 0px;
    width: 100%;
  }

  .header__mobile .profile__box {
    display: flex;
  }

  .header__mobile .profile__infoMobile {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .header__mobile .profile__infoMobile .avatarMobile {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }

  .header__mobile .name {
    font-size: 20px;
  }

  .header__mobile .username {
    font-size: 12px;
    font-weight: 200;
    margin-bottom: 20px;
    color: lightgray;
  }

  .header__mobile .description {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
  }

  .header__mobile .profile__box {
    width: 100%;
    height: 28px;
    font-size: 12px;
  }

  .header__mobile .profile__contact {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 10px;
  }

  .header__mobile .profile__contact .bx {
    font-size: 12px;
    padding-right: 5px;
  }

  .search__barMobile,
  .header__mobile2Info {
    display: flex;
  }

  .search__bar {
    display: none;
  }

  .header__mobile {
    display: flex;
    width: 100%;
  }
  .header__mobile .header__mobile1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    background-color: #1b1f24;
  }
}
